.cardAves{
  display: flex;
  padding: 10px;
  border-radius: 10px;
  margin: 20px;
  box-shadow: 0 20px 30px -30px black;
}
.cardAves img:hover{
  width: 410px;
}
.cardAves img{
  border-radius: 8px;
  width: 400px;
}
@media (max-width:800px) {
  .cardAves img{
    border-radius: 8px;
    width: 250px;
  }
  .cardAves img:hover{
    width: 260px;
  }
}
