.container {
    display: flex;
    flex-direction: column;
}

.container .text{
    margin: 10px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 6px 18px -9px rgba(0, 0, 0, 0.75);

}

.container > offer{
    margin: 10px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 6px 18px -9px rgba(0, 0, 0, 0.75);
    justify-content: flex-start;
}

.container .offer .NextIcon{
    text-shadow: lightgray;
    justify-content: flex-start;
}

.container .offer .icon{
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0px 6px 18px -9px rgba(0, 0, 0, 0.75);
    text-shadow: lightgray;
    
}

.container .info{
    margin: 10px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 6px 18px -9px rgba(0, 0, 0, 0.75);
}