.Result {
    display: flex;
    position: relative;
    margin: 20px;
    padding: 20px;
    border-bottom: 1px solid lightgray;
    cursor: pointer;
  }

.Result:hover {
    opacity: 0.8;
}

.Result > img {
    height: 200px;
    width: 350px;
    border-radius: 10px;
    overflow: hidden;
}

.Result__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 20px;
    margin-bottom: 60px;
}

.Result__heart {
    position: absolute;
    top: 20px;
    right: 40px;
}

.Result__heart:hover {
    fill: red;
}

.Result__infoTop {
    width: 40vw;
}

.Result__infoTop > h3 {
    font-weight: 300;
    /* margin-top: 10px; */
}

.Result__infoTop > p {
    /* margin-top: 5px; */
    font-size: 13px;
    color: gray;
    text-overflow: ellipsis;
    overflow: hidden;
  white-space: nowrap; 
  }
  
.Result__infoBottom {
    display: flex;
    justify-content: space-between;
}

.text_gray {
    font-size: 13px;
    color: gray;
    margin-right: 5px;
    justify-self: flex-end;
}


.Result__star {
    color: rgb(238, 222, 131);
}


.Result__stars {
    display: flex;
    align-items: center;
}

.Results__price > p {
    text-align: right;
    line-height: 1rem;
    
  }

.Results__price {
    position: absolute;
    bottom: -5px;
    right: 30px;
}

.Results__price > h2 {
    text-align: right;
    line-height: 1rem;
}
