

*,
*:before,
*::after {
  box-sizing: border-box;
  
}

.imagenProf {
  display: flex;
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 100px;
    /* box-shadow:  4px 0px 0px 0px #5f6d4a; */
    justify-content: center;
}

.contenedorImg {
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  
}



.boton{
  padding-top: 30px;
}
.boton>button>h3{
  font-size: 23px;
}

.letra{
  color: black;
}
.descriptionInfo{
  width: 600px;
  

}
.btn {  
  /* #EFF5BA,#EEF5DC,#BDDB8F,#D1F2B6,#B0F592 */
  border: 5px solid #e1f3b5;
  position: relative;
  display: block;
  height: 60px;
  width: 300px;
  border-radius: 4px;
  text-transform: uppercase;
  background-color: transparent;
  font-size: 18px;
  overflow: hidden;
  transition: all 500ms ease;
  z-index: 0;
  font-weight: 700;
  cursor: pointer;
  
  
}
.btn::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  margin: auto;
  background-color: #dff1c3;
  transition: all 500ms ease;
  z-index: -1;
  
}
.btn--1:hover {
  background-color: #dff1c3;
  box-shadow: 0 0 10px #EEF5DC, 0 0 20px #EEF5DC, 0 0 20px #EEF5DC;
  color: #434343;
  border-radius: 30px;
}

.infoProf {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: left;
  margin-left: 40px;
  margin-right: 40px;
    display: flex;
    padding: 40px;
    padding-bottom: 0px;
    justify-content: space-around;    
    align-items: center;
    box-shadow: 0 20px 10px -30px black;
    flex-wrap: wrap;
  
}


