.drag-drop {
    height: 8em;
    width: 8em;
    background-color: #ccc;
    border-radius: 4em;
    text-align: center;
    color: white;
    position: relative;
    margin: 20px;
    }
    .label
    {
        margin-top: 30px;
    }
    .centro{
        justify-content: center;
        width: 100%;
        display: flex;
    }
     
    .drag-drop span.desc {
        
    padding-top: 50px;
    display: block;
    font-size: .7em;
    color: #000;
    }
     
    .input[type="file"] {
    height: 10em;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; 
    z-index: 3;
    }
     
    /* Estilo del área del input[file] con :hover */
     
    .drag-drop:hover, input[type="file"]:hover {
    background-color: #d1f2b6;
    cursor: pointer;
    }
     
    .drag-drop:hover span.desc {
    color: black;
    } 
     
    /* Composición del icono de Upload con FontAwesome */
    .fa-stack { margin-top: .5em; }
     
    .fa-stack .top { color: white; }
     
    .fa-stack .medium { 
    color: black;
    text-shadow: 0 0 .25em #666;
    }
     
    .fa-stack .bottom { color: rgba(225, 225, 225, .75); }

    .drag-drop:hover .pulsating {
        animation: pulse1 1s linear infinite;
        animation-direction: alternate ;
        -webkit-animation: pulse1 1s linear infinite;
        -webkit-animation-direction: alternate ;
        }
         
        /* Keyframing de la animación */
         
        @keyframes pulse1 {
        0% { color: rgba(225, 225, 225, .75); }
        50% { color: rgba(225, 225, 225, 0.25); }
        100% { color: rgba(225, 225, 225, .75); }
        }
         
        @-moz-keyframes pulse1 {
        0% { color: rgba(225, 225, 225, .75); }
        50% { color: rgba(225, 225, 225, 0.25); }
        100% { color: rgba(225, 225, 225, .75); }
        }
         
        @-webkit-keyframes pulse1 {
        0% { color: rgba(225, 225, 225, .75); }
        50% { color: rgba(225, 225, 225, 0.25); }
        100% { color: rgba(225, 225, 225, .75); }
        }
         
        @-ms-keyframes pulse1 {
        0% { color: rgba(225, 225, 225, .75); }
        50% { color: rgba(225, 225, 225, 0.25); }
        100% { color: rgba(225, 225, 225, .75); }
    }